body {
    background-color: black;
    color: white;
    font-family: helvetica neue;
    width: auto;
    font-size: 14px;
    padding-right: 15px;
    padding-left: 15px;
}

img {
    width:100%;
    max-width: 100%; height: auto;
}

a {
    max-width: 95%;
    white-space: nowrap;
    overflow: hidden;
    word-wrap: break-word;
    text-overflow: ellipsis;
}

h1 {
    font-size:16px;
    color: #DB2C23;
    font-weight:500;
}

h2 {
    font-size:16px;
    color: #DB2C23;
    font-weight:500;
}



h3 {
    font-weight: 500;
    font-size:13px;
}

h4 {
    font-weight: 500;
    font-size:12px;
}


li {
    font-size:14px;
}

ul {
    list-style-image: none;
    list-style-position: outside;
}

a.jumplink-placeholder {
    display: none;
}

.widget-BookJumpLinks {
    display: none;
}

.original-slide {
    display: none;
}

.table-wrap-foot {
    padding-top: 5%;
    font-size: smaller;
}

.reference-section {
    padding-top: 5%;
}

.reference-section label {
    font-size:14px;
    display: inline-block;
    float: left;
}