<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>EXPERTconnectDemo.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Horizon.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>03978F061A602B2D007793D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>03978F1F1A602B2D007793D6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D886963B1B55693000C8F955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CEBE401B546EC10053E9A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CEBE581B546EC10053E9A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D8CEBE991B55690C0053E9A0</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
