<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>developmentAppKey</key>
	<string>F-yWW_56Ql2u90klasyaRQ</string>
	<key>developmentAppSecret</key>
	<string>g1f-t3clTOOTMi-36deNwQ</string>
</dict>
</plist>
